<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007688333973-liiklkndc4biq03618vin8r0uvjm7amn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007688333973-liiklkndc4biq03618vin8r0uvjm7amn</string>
	<key>API_KEY</key>
	<string>AIzaSyAB1XF4zjGuTrA-zQIMiBvCyENcHGOJwgs</string>
	<key>GCM_SENDER_ID</key>
	<string>1007688333973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jacob.io.nnews</string>
	<key>PROJECT_ID</key>
	<string>nnews-7c0ae</string>
	<key>STORAGE_BUCKET</key>
	<string>nnews-7c0ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007688333973:ios:6112cced1e610b32d7399c</string>
</dict>
</plist>